:root {
    --font-family: 'saoui';
    --radius: 5px
}

@font-face {
    font-family: 'saoui';
    src: url('./font/font.otf');
}

.dialog {
    font-family: 'saoui';
    background-color: #eeeeeee4;
    border-radius: var(--radius);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    letter-spacing: 2px;

    &-title {
        font-size: 25px;
        background-color: #f1f1f1;
        padding-block: 20px;
        font-weight: bolder;
        text-align: center;
        box-shadow: 0px 10px 12px 3px #A0A0A091;
    }

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 10px;
        background-color: #f1f1f1;
        box-shadow: 0px -10px 12px 3px #A0A0A091;

        >.icon {
            display: flex;
            width: 100%;
            justify-content: space-around;

            >img {
                width: 45px;
                height: 45px;
                cursor: pointer;
            }
        }
    }
}